Xft*dpi: 120
Xft*antialias: true
Xft*autohint: true
Xft*rgba: vbgr

#define FONT_NORMAL     xft:Inconsolata-g:pixelsize=16:embolden=1,\
                        xft:FontAwesome:pixelsize=16,\
                        xft:Anonymous Pro:style=Regular:pixelsize=16:antialias=3:autohint=1:hintstyle=3,\
                        xft:DejaVu Sans:pixelsize=16,\
                        xft:Unifont:fontformat=truetype:pixelsize=16:antialias=false\
                        xft:Source Code Pro:pixelsize=16:style=medium:antialias=true\
                        xft:Noto Emoji:style=Regular:pixelsize=16
#define FONT_BOLD       xft:Inconsolata-g:style=Bold:pixelsize=16:embolden=1
#define FONT_ITALIC     xft:Profont:pixelsize=16:embolden=1
#define FONT_BOLDITALIC -misc-fixed-medium-r-normal--7-70-75-75-c-50-koi8

vte*font:       FONT_NORMAL
vte*boldFont:   FONT_BOLD
vte*italicFont: FONT_ITALIC
vte*background: #121212
vte*foreground: #d6d6d6
vte*scrollBar:  false

vim*font:                         FONT_NORMAL
vim*boldFont:                     FONT_BOLD
vim*italicFont:                   FONT_ITALIC
vim*boldItalicFont:               FONT_BOLDITALIC
vim*background:                   #080808
vim*foreground:                   #ebebeb
vim*scrollBar:                    false
vim.iso14755:             1
vim.iso14755_52:          1

vim.skipBuiltinGlyphs:    1
vim.insecure:             1

mongolia.iso14755:             1
mongolia.iso14755_52:          1
mongolia.skipBuiltinGlyphs:    0
mongolia.insecure:             1

mongolia.buffered:             0
mongolia.internalBorder:       0
mongolia.externalBorder:       0

mongolia.font:             FONT_NORMAL
mongolia.boldFont:         FONT_BOLD
mongolia.italicFont:       FONT_ITALIC
mongolia.boldItalicFont:   FONT_BOLDITALIC

mongolia*cutchars:             "()*,<>[]{}|'"
mongolia*matcher.pattern.1:    \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
mongolia*matcher.button:       1
mongolia*matcher.launcher.1:   /home/polychoron/bin/ff
mongolia*underlineURLs:        false
mongolia*urlLauncher:          /home/polychoron/bin/ff

mongolia.jumpScroll:           true
mongolia.loginShell:           true
mongolia.saveLines:            4096
mongolia.scrollBack:           true
mongolia.scrollKey:            true
mongolia.scrollTtyKeypress:    true
mongolia.scrollTtyOutput:      false
mongolia.scrollWithBuffer:     true
mongolia.skipScroll:           true
mongolia.trippleclickwords:    true
mongolia.urgentOnBell:         false

mongolia.pasteableTabs:        false
mongolia.pointerBlank:         false
mongolia.pointerBlankDelay:    2
mongolia.scrollstyle:          next
mongolia.scrollBar:            false
mongolia.depth:                24

URxvt.perl-ext-common:      default,clipboard,selection-to-clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.keysym.Shift-Control-C : perl:clipboard:copy
URxvt.keysym.Shift-Control-V : perl:clipboard:paste

#include "/home/polychoron/.config/Xcolors/nancy.Xresources"
